---
//パーツ読み込み
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

//CSS設定
import '../styles/global.css';

//画像設定
import { Image } from 'astro:assets';
import top_kv from '../images/top_kv.jpg';
import list01 from '../images/list01.jpg';
import list02 from '../images/list02.jpg';
import list03 from '../images/list03.jpg';
import works_kv from '../images/works_kv.jpg';
import news_kv from '../images/news_kv.jpg';
import top_layout01 from '../images/top_layout01.jpg';
import top_layout02 from '../images/top_layout02.jpg';

---


<Layout title="template">
	<Header></Header>
	<main>
    <section class="kv">
        <div class="inner">
          <div class="wrap-lead">
            <h1>WEB TEMPLATE</h1>
            <p class="description">このWebサイトはあらゆるウェブサイトに対応できる、堅牢かつ柔軟なテンプレートです。<br>JavaScriptフレームワーク「Astro」を使用し、Jamstackによる最新の開発手法を採用しています。</p>
          </div>
          <Image src={top_kv} alt="TOP画像イメージ" width={1000} height={1000}/>
        </div>
      </section>

      <section class="layout_news">
        <div class="inner">
          <ul class="main-border">
            <p>（List）</p>
            <ul class="list2">
            <a href="#">
              <li class="sub-border">
                <p>2024.11.06</p>
                <div class="wrap-lead">
                  <h2>お知らせが入りますタイトルです。</h2>
                  <p>シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。</p>
                </div>
              </li>
            </a>
            <a href="#">
              <li class="sub-border">
                <p>2024.11.06</p>
                <div class="wrap-lead">
                  <h2>お知らせが入りますタイトルです。</h2>
                  <p>シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。</p>
                </div>
              </li>
            </a>
            <a href="#">
              <li class="sub-border">
                <p>2024.11.06</p>
                <div class="wrap-lead">
                  <h2>お知らせが入りますタイトルです。</h2>
                  <p>シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。</p>
                </div>
              </li>
            </a>
            </ul>
          </ul>
        </div>
      </section>
      <section class="layout_full-img">
        <div class="inner">
          <Image src={works_kv} alt="TOP画像イメージ" width={1000} height={1000}/>
        </div>
      </section>
      <section class="component_title">
        <div class="inner">
          <ul class="main-border">
            <p>（Title）</p>
            <li class="sub-border"><h1>タイトルh1</h1></li>
            <li class="sub-border"><h2>タイトルh2</h2></li>
            <li class="sub-border"><h3>タイトルh3</h3></li>
            <li class="sub-border"><h4>タイトルh4</h4></li>
            <li class="sub-border"><h5>タイトルh5</h5></li>
          </ul>
        </div>
      </section>
      <section class="layout_2col">
        <div class="inner">
          <Image src={top_layout01} alt="TOP画像イメージ" width={1000} height={1000}/>
          <div class="wrap-lead">
            <h2>Webデザイン</h2>
            <p>ウェブサイトのデザインはユーザー体験を向上させるために非常に重要です。視覚的に魅力的でナビゲーションが簡単なサイトは、訪問者が長く滞在しやすくなります。コンテンツの配置や色の選択は、ユーザーの満足度に大きく影響します。</p>
            <a href="/about" class="button -lg">ABOUT</a>
          </div>
        </div>
      </section>

      <section class="component_list">
        <div class="inner">
          <ul class="main-border">
            <p>（List）</p>
            <li class="sub-border">
              <ul class="list">
              <li>
                <Image src={list01} alt="TOP画像イメージ" width={1000} height={1000}/>
                <div class="wrap-lead">
                  <h3>Webデザイン</h3>
                  <p>ウェブサイトのデザインはユーザー体験を向上させるために非常に重要です。視覚的に魅力的でナビゲーションが簡単なサイトは、訪問者が長く滞在しやすくなります。コンテンツの配置や色の選択は、ユーザーの満足度に大きく影響します。</p>
                </div>
              </li>
              <li>
                <Image src={list02} alt="TOP画像イメージ" width={1000} height={1000}/>
                <div class="wrap-lead">
                  <h3>Webデザイン</h3>
                  <p>ウェブサイトのデザインはユーザー体験を向上させるために非常に重要です。視覚的に魅力的でナビゲーションが簡単なサイトは、訪問者が長く滞在しやすくなります。コンテンツの配置や色の選択は、ユーザーの満足度に大きく影響します。</p>
                </div>
              </li>
              <li>
                <Image src={list03} alt="TOP画像イメージ" width={1000} height={1000}/>
                <div class="wrap-lead">
                  <h3>Webデザイン</h3>
                  <p>ウェブサイトのデザインはユーザー体験を向上させるために非常に重要です。視覚的に魅力的でナビゲーションが簡単なサイトは、訪問者が長く滞在しやすくなります。コンテンツの配置や色の選択は、ユーザーの満足度に大きく影響します。</p>
                </div>
              </li>
            </ul>
            </li>
          </ul>
        </div>
      </section>
      <section class="component_list">
        <div class="inner">
          <ul class="main-border">
            <p>（List）</p>
            <ul class="list2">
              <li class="sub-border">
              <p>特徴01</p>
              <div class="wrap-lead">
                <h2>1.美しくシンプルなデザイン</h2>
                <p>シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。</p>
              </div>
            </li>
            <li class="sub-border">
              <p>特徴02</p>
              <div class="wrap-lead">
                <h2>1.美しくシンプルなデザイン</h2>
                <p>シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。</p>
              </div>
            </li>
            <li class="sub-border">
              <p>特徴03</p>
              <div class="wrap-lead">
                <h2>1.美しくシンプルなデザイン</h2>
                <p>シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。シンプルなデザインです。</p>
              </div>
            </li>
            </ul>
          </ul>
        </div>
      </section>
      <section class="layout_full-img">
        <div class="inner">
          <Image src={news_kv} alt="TOP画像イメージ" width={1000} height={1000}/>
        </div>
      </section>
      <section class="layout_2col">
        <div class="inner">
        <div class="wrap-lead">
            <h2>Webデザイン</h2>
            <p>ウェブサイトのデザインはユーザー体験を向上させるために非常に重要です。視覚的に魅力的でナビゲーションが簡単なサイトは、訪問者が長く滞在しやすくなります。コンテンツの配置や色の選択は、ユーザーの満足度に大きく影響します。</p>
            <a href="/works" class="button -lg">WORKS</a>
          </div>
          <Image src={top_layout02} alt="TOP画像イメージ" width={1000} height={1000}/>
        </div>
      </section>
  </main>
  <Footer></Footer>
</Layout>


